$transition: 0.3s;
$theme: rgb(0, 132, 255);
$theme-dark: rgb(0, 91, 177);
$danger: rgb(255, 60, 0);
$danger-dark: rgb(204, 48, 0);
$box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.1);
$warning: rgb(231, 231, 0);
$warning-dark: rgb(207, 207, 3);

@import "~react-toastify/dist/ReactToastify.min.css";
@import "./components/navbar/navbar";
@import "./components/navbar/navbar-dropdown";
@import "./components/project/project";
@import "./components/project/preview";
@import "./components/project/task";
@import "./components/project/open-task";
@import "./components/project/subtask";
@import "./components/shortcut-helper";
@import "./components/timeline";
@import "./components/user/profile";
@import "./components/organisation/read";

* {
    box-sizing: border-box;
}

body {
    background: #eee;
    color: black;
    font-family: "Raleway", sans-serif;
    margin: 0px;
}

#main-page-container {
    padding: 100px;
}

hr {
    margin-bottom: 50px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: 2px solid #bbbbbb;
    transition: box-shadow, 0.4s;
    box-shadow: 0px 0px 0px 0px $theme;
    font-size: 16px;

    &:active,
    &:focus {
        box-shadow: 0px 0px 0px 3px $theme;
    }
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

.text-right {
    text-align: right;
}

.btn {
    padding: 10px 25px;
    border-radius: 5px;
    background: $theme;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    font-size: 16px;
    text-align: center;

    &.btn-sm {
        padding: 7px 15px;
        font-size: 14px;
    }

    &.btn-danger {
        background: $danger;

        &:hover {
            background: $danger-dark;
        }
    }

    &.btn-warning {
        background: $warning;

        &:hover {
            background: $warning-dark;
        }
    }

    &.btn-secondary {
        background: #adadad;

        &:hover {
            background: #7e7e7e;
        }
    }

    &:hover {
        background: $theme-dark;
    }
}

.mt-5 {
    margin-top: 50px;
}

.mb-5 {
    margin-bottom: 50px;
}

.ml-5 {
    margin-left: 50px;
}

.mr-5 {
    margin-right: 50px;
}

.mr-2 {
    margin-right: 20px;
}

.ml-2 {
    margin-left: 20px;
}

.mr-1 {
    margin-right: 10px;
}

.ml-1 {
    margin-left: 10px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 10px;
}

.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &.center {
        align-items: center;
    }
}

h1 {
    margin-top: 0px;
}

.has-action {
    .action-panel {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 10px;
        background: white;
        opacity: 0;
        display: flex;
        flex-direction: row;
        transition: $transition;
        min-width: fit-content;
    }

    &:hover {
        .action-panel {
            opacity: 1;
        }
    }
}

.card {
    box-shadow: $box-shadow;
    padding: 15px;
    border-radius: 10px;
}

.badge {
    padding: 5px 10px;
    background: $theme;
    border-radius: 5px;
    display: inline;
}