#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    align-items: center;

    #navbar-nav {
        display: flex;
        flex-direction: row;

        > a, > .nav-link {
            margin-right: 30px;
        }
    }

    a,
    .nav-link {
        cursor: pointer;
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 10px;

        &.log-in-out {
            font-size: 14px;
            text-decoration: underline;
        }
    }
}
