.project-preview {
    padding: 20px;
    border-radius: 15px;
    box-shadow: $box-shadow;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 0px calc(10% / 4) 50px calc(10% / 4);

    &:nth-child(3n+1) {
        margin-left: 0px;
    }

    &:nth-child(3n) {
        margin-right: 0px;
    }
}
