.project-task {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: $box-shadow;
    border-radius: 10px;
    margin: 15px 0px;
    position: relative;
    width: fit-content;
    background: white;
    min-height: 55px;
    transition: left $transition;
    cursor: pointer;
    padding-bottom: 5px;

    .main-task-container {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        padding: 10px;
        padding-right: 15px;

        h3 {
            margin: 0px;
            margin-right: 10px;
            font-size: 14px;
        }

        small {
            color: #666;
        }
    }

    &:hover {
        max-width: 100%;
    }

    .deletion-modal {
        position: absolute;
        right: 0px;
        top: 100%;
        background: #eee;
        border-radius: 10px;
        padding: 15px;
        z-index: 999;
        box-shadow: $box-shadow;

        p {
            margin-top: 0px;
        }

        .btn {
            white-space: nowrap;
            margin: 0px 15px;

            &:first-child {
                margin-left: 0px
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
